.nay{background-color: rgb(0, 0, 0);color: #03e0fd;}
.tex{color: #ff0080;}
.sub{color: #000000;}
.bill{background-color: #ff0080;color: black;}
.doc{background-color: #000000;color: #ff3c00;}
.pre{background-color: #59067a;color: #74f001;}